.pinataHider {
  display: block;
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
}

#pinataImg {
  position: absolute;
  opacity: 0;
  width: 2rem;
  height: 2rem;
}
.pinataImg {
  width: 10rem;
  height: 10rem;
  position: absolute;
}

.svg{
  pointer-events: fill;
}

.visibleTimer {
  display: block;
  margin: 50px auto;
  width: 250px;
  height: 250px;
}

#loader
{ fill: #0088cc }

#border
{ fill: #00517a }

#hiddenTimer {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

.boutonHelp {
  font-style: bold;
  color:red;
  top:0%
  left:0%
}
